@import  "./variablescolor";

.headersection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 50px 100px 0px 0px;
    .header-logo {
        display: flex;
        flex-direction: row;
    }
    .header-button {
        display: flex;
        flex-direction: row;
        button {
            border: none;
            color: $geryblue;
            @include word-style($fweight: 400, $fontSize: 16px, $lineheight: 19px);
            background-color: transparent;
            
        }
    }
    .sign-in-up {
        button:nth-child(1) {
            // @extend button;
            // padding-bottom: 0px;
            padding-top: 22px;
            border: none;
            background-color: transparent;
            @include word-style($fweight: 500, $fontSize: 16px, $lineheight: 19px);
            
        }
        button:nth-child(2) {
            border: 1px solid $red;
            color: $red;
            padding: 7px 15px;
            border-radius: 50px;
            @include word-style($fweight: 500, $fontSize: 16px, $lineheight: 19px);
        }
    }
}
