@import "./variablescolor";

.section-one {
    display: flex;
    flex-direction: column;
    .section-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 50px 50px;
        .inner-content {
            h1 {
                @include word-style($fweight: 500, $fontSize: 50px, $lineheight: 70px);
            }
            p {
                @include word-style($fweight: 400, $fontSize: 16px, $lineheight: 30px);
            }
            button {
                border: none;
                color: $white;
                padding: 17px 77px 17px 77px;
                background: $red;
                border-radius: 10px;
                /* offset-x | offset-y | blur-radius | spread-radius | color */
                box-shadow: $red 0px 25px 20px -20px;
            }
        }
    }
    .section-logo {
        img {
            width: 511.24px;
            height: 382.44px;
        }
    }
    .section-box {
        display: flex;
        flex-direction: row;
        width: 90%;
        padding: 0px 100px 0px;
        border-radius: 10px;
        justify-content: space-around;
        box-shadow: 0px 25px 20px 10px rgb(219, 219, 219);
        .box-one {
            display: flex;
            flex-direction: row;
            border-right: 1px solid rgb(184, 184, 184);
            border-radius: 1px;
            padding: 10px 10px 10px;
            justify-content: space-evenly;
            p {
                padding: 36px;
            }
            span {
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
}
